[server]
    Address        = "127.0.0.1:8082"
    ServerAgent    = "gtoken-demo"
    LogPath        = "./example/sample1/logs"

[gtoken]
    # 缓存模式 1 gcache 2 gredis
    cache-mode = 1
    # 是否支持多端登录
    multi-login = true

#jwt配置
[gToken]
    CacheMode = 1
    CacheKey = "GToken:"
    Timeout = 0
    MaxRefresh = 0
    TokenDelimiter="_"
    EncryptKey = "koi29a83idakguqjq29asd9asd8a7jhq"
    AuthFailMsg = "登录超时，请重新登录"
    MultiLogin = true

# Redis数据库配置
[redis]
    default = "127.0.0.1:16379,0,soccer"
    cache   = "127.0.0.1:16379,1,soccer?idleTimeout=600"
